@import "tailwindcss";

@theme {
  --color-peach-100: #FFEAC9;
  --color-peach-200: #FFD2A8;
  --color-rose-50: #FFF1F2;
  --color-rose-100: #FFE4E6;
  --color-rose-500: #F43F5E;
  --font-dancing-script: 'Dancing Script', cursive;
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-rose-50);
}
